* {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 1px;
    min-height: 610px;
    transform: translate(-50%, -50%);
    padding: 30px 500px;
}

.title {
    text-align: center;
    font-size: 35px;
    margin: 70px 0;
    font-weight: bold;
}

.edit-container {
    margin-top: 100px;
}

.edit-text {
    padding-top: 5px;
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

.edit-box {
    display: block;
    margin-bottom: 50px;
    color: #00b074;
    padding-left: 10px;
    font-size: 20px;
    font-weight: lighter;
    width: 700px;
    background-color: #efefef;
    border: none;
    height: 50px;
    border-radius: 10px;
}

.edit-box:focus {
    outline: none;
}

.edit-btn {
    color: white;
    background-color: #00b074;
    border: none;
    font-size: 25px;
    width: 210px;
    height: 50px;
    bottom: 0px;
    display: block;
    margin: 50px auto 100px auto;
    box-shadow: 1px 1px 10px 2px #00000031;
    border-radius: 10px;

}

.edit-btn:hover {
    color: white;
    background-color: #00b074;
    border: none;
    box-shadow: none;
}