<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <title>3112</title>
</head>
<body>
<div class="container">
    <div class="title">다중 치환 암호화</div>
    <div class="edit-container">
        <form class="edit-form" action="/encryption" method="post" onsubmit="return checkForm()" name="form">
            <p class="edit-text"> 평 문 </p>
            <input type="text" id="plain" name="plain" class="edit-box" minlength="1">
            <p class="edit-text">암호키 </p>
            <input type="text" id="key" name="key" class="edit-box" minlength="1">
            <br><br>
            <input type="submit" value="암호화" class="edit-btn">
        </form>
    </div>
</div>
</body>
<script>
    function checkForm() {
        const form = document.form;
        if (form.key.value === "" || form.plain.value === "") {
            alert('평문과 암호키를 모두 입력해주세요.');
            return false;
        }
        return true;
    }
</script>
</html>